@import
url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
  html{
      text-align: center;
      font-family: "Noto Sans Korean", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: powderblue;
      margin: 100px;}

  @keyframes changesize {
    from {
      font-size: 10rem;
    }
    to {
      font-size: 14rem;
    }
  }

  @keyframes rotation {
      from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }

      to {
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
      }
  }

  .a {
    animation-duration: 1s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }


  h2{
    font-size: 10rem;
    margin-bottom: auto;
  }

  b{
    margin: 50px;

  }


  h1{
    font-size: 5rem;
    margin-top:1px;

  }
  #ViewTimer{
    animation-duration: 1s;
    animation-name: changesize;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
