@import
url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
  html{
      text-align: center;
      color: white;
       font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
       /* 폰트를 지정합니다 */
      background-image: url(http://www.dreamtemplate.com/dreamcodes/bg_images/color/c10.jpg); /*배경이미지를 지정합니다.
      배경 이미지를 지정합니다. */
      margin:auto;
  }

  @keyframes changesize {
    from {
      font-size: 9rem;
    }
    to {
      font-size: 14rem;
    }
  }
  /* 애니메이션 선언: 글자 크기 바꾸기 */

  @keyframes rotation {
      from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }

      to {
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
      }
  }
  /* 애니메이션 선언: 45도 회전 */

  @keyframes Announcement {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  /* 애니메이션 투명도 조절 */

  @keyframes Announcement1 {
    0% {
      transform: skew(45deg, 45deg)
    }

    89% {
      transform: skew(45deg,45deg)
    }

    90% {
      transform: none;
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
    /* 애니메이션이 숨겨져 있다가 마지막에 짠하고 나옴: animation-duration잘 지정해줘야함 */


  @keyframes tr {
    0% {
      font-size: 4rem;
      right: -100px;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    50% {
      font-size: 17rem;
      right: 750px;
      transition-timing-function: ease-out;
      opacity: 1;
    }
    100% {
      right: 1000px;
      font-size: 5.5rem;
      opacity: 0;
      right: 2000px;
    }

  }
  /*당첨번호를 하나씩 보여줌 */


  p {
    font-size: 7rem;
    display: inline;
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    position: absolute;
    right: -5000px;
    font-weight: bold;

  }
  /* 중앙에 정렬시키면 겹쳐보이므로 화면에 안보이는 오른쪽에 미뤄둠 */
  .effect {
    font-size: 7rem;
    /* 폰트 크기를 지정 */
    display: inline-block;
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 40px;
    position: absolute;
    top: 230px;
    /* animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

  .effect1 {
    font-size: 7rem;
    display: inline-block;
    position: static;
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    right: 500px;
    animation-name: Announcement1;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-duration: 13s;
    animation-delay: 0s;
    right: 500px;
    font-size: 11rem;
  }

  #i {
    animation-delay: 2.5s;
    animation-name: tr;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  #b {
    animation-delay: 4.5s;
    animation-name: tr;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  #c {
    animation-delay: 6.5s;
    animation-name: tr;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  #d {
    animation-delay: 8.5s;
    animation-name: tr;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  #A {
    margin: 100px;
    font-size: 7rem;
    position: absolute;
    top: 700px;
    bottom: auto;
    left: 430px;
  }
  #U {
    margin: 100px;
    font-size: 7rem;
  }
  #O {
    margin-bottom: auto;
  }

  .lottery_title {
	margin-top: 1rem;
	margin-bottom: 1rem;
    font-size: 10rem;
  }

  h1 {
	  font-size: 7rem;
  }

  #ViewTimer {
    margin: 100px;
    font-size: 9rem;
    animation-name: Announcement, changesize;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    right: 250px;
    left: 250px;
    top: 260px;

  }



  #NextTime {
      visibility: hidden;
  }

  #NumWinners {
    position: absolute;
    bottom: 30px;
    left: 610px;
  }
