<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <title></title>
    <style media="screen">
    @import
    url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
      html{
          text-align: center;
          font-family: "Noto Sans Korean", "Helvetica Neue", Helvetica, Arial, sans-serif;
          background-color: powderblue;
          margin: 100px;}
      h2{
        font-size: 10rem;
      }

      .a{
        margin: 50px;
      }
      #effect:hover{
        transform: scale(1.5);
      }

      h1{
        font-size: 5rem;
      }

    </style>
</head>
<body>
    <h1>결과는</h1>
    {{ if .Number }}
    <h2 id='effect'>
        {{ range .Number }}
            <b class = 'a'>{{ . }}</b>
        {{ end }}
    </h2>
    <h1>당첨자  {{ .Winners }}명</h1>
{{ else }}
    <h1>10시에 공개됩니다!</h1>
{{ end }}
</body>
</html>
