<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <title></title>
        <script src="static/index.js" lang="JavaSciprt"></script>
    <style media="screen">
    @import
    url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
      html{
          text-align: center;
          font-family: "Noto Sans Korean", "Helvetica Neue", Helvetica, Arial, sans-serif;
          background-color: powderblue;
          margin: 100px;}

      #effect:hover{
        transform: scale(2);

      }

    </style>
</head>
<body>
    <h1>결과는</h1>
    {{ if .Number }}
    <h2 id='effect'>
        {{ range .Number }}
            {{ . }}
        {{ end }}
    </h2>
    <h1>당첨자  {{ .Winners }}명</h1>
{{ else }}
    <h1>10시에 공개됩니다!</h1>
{{ end }}
    <h1></h1>
    <div id = "ViewTimer"></div>
</body>
</html>
