<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>page</title>
        <script src="static/index.js" lang="JavaSciprt"></script>
</head>
<body>
    <h1>결과는</h1>
    {{ if .Number }}
    <h2 id='effect'>
        {{ range .Number }}
            <b class = 'a'>{{ . }}</b>
        {{ end }}
    </h2>
    <h1>당첨자  {{ .Winners }}명</h1>
{{ else }}
    <h1>10시에 공개됩니다!</h1>
{{ end }}
    <h1></h1>
    <div id = "ViewTimer"></div>
</body>
</html>
